@font-face {
    font-family: 'Hacked-font';
    src: url('./hacked-kerx-webfont.woff2') format('woff2'),
         url('./hacked-kerx-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}